@charset "utf-8";
/*
	photoMosaic - v1
*/

.photoMosaic { overflow:hidden; }
.photoMosaic, .photoMosaic * { padding:0px; margin:0px; border:none; }
    .photoMosaic ol { list-style:none; float:left; }
    .photoMosaic ol li { list-style:none; overflow:hidden; }
    .photoMosaic ol li img { display:block; position:relative; top:0px; max-width:none; }
    .photoMosaic ol li a:hover img { opacity:0.8; }
    
.PM_preloadify { visibility:hidden; position:absolute; bottom:5px; right:10px; }