/* @override 
	http://instantretro.com/css/style.css
	http://instantretrom.appspot.com/css/style.css
	http://www.instantretro.com/css/style.css
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
}
html{
background-color: #F7F4EB;
background-image: url(/images/bg.jpg);
background-repeat: no-repeat;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

/*
Uploadify v2.1.4
Release Date: November 8, 2010

Copyright (c) 2010 Ronnie Garcia, Travis Nickels

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
.uploadifyQueueItem {
    background-color: #ffffff;
    border: 1px solid #E5E5E5;
    font: 12px 'Helvetica','Arial',sans-serif;
    margin-top: 5px;
    padding: 10px;
    width: 350px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: rgba(0,0,0,0.1) 0 0 5px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0 0 5px;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0 0 5px;
}
.uploadifyError {
    background-color: #FDE5DD !important;
    border: 1px solid #FBCBBC !important;
}
.uploadifyQueueItem .cancel {
    float: right;
}
.uploadifyQueue .completed {
    background-color: #ffffff;
}
.uploadifyProgress {
    background-color: #E5E5E5;
    margin-top: 10px;
    width: 100%;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.uploadifyProgressBar {
    background-color: #6cacbb;
    height: 5px;
    width: 1px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* ###################################################### */

html {
       font: 12px/120% 'Helvetica','Arial',sans-serif;
}

h2.uploadh2 { padding: 0; text-transform: uppercase; font-family: Verdana; letter-spacing: 2px; color: #6e6753; padding: 0px 6px; font-size: 13px;
	float: left;
}

#uploadForm h2 {
	padding: 0; text-transform: uppercase; font-family: Verdana; letter-spacing: 2px; color: #6e6753; padding: 0px 6px; font-size: 13px;
	margin-top: 87px;
	margin-right: 91px;
	margin-left: 52px;
	display: block;
	width: 262px;
	float: left;
	text-align: center;
	text-shadow: #fffeff 1px 1px 0;
}

#uploadForm {
	float: left;
	width: 635px;
	display: block;
	border: 1px solid #cac8c1;
	display: block;
	margin-right: auto;
	margin-top: 9%;
	margin-left: 83px;
}



#wrap {
    width: 840px;
    position: relative;
	margin-right: auto;
	margin-left: auto;
	height: auto;
	margin-top: -3px;
}

#annoucement {
	margin-bottom: 22px;
	text-align: center;
	text-shadow: #fffeff 1px 1px 0;
}

#leadimg {
	border: 1px solid #cac8c1;
	margin-top: 20px;
	width: 605px;
	margin-left: auto;
	margin-right: auto;
}

#leadimg>div {
	border: 1px solid #fff;
	display: block;
	height: 271px;
}


header {
    width: 670px;
    display: block !important;
	margin-left: auto;
	margin-right: auto;
}

#secondary {
	width: 730px;
}

#page_nav {
	text-align: center;
	margin-top: 30px;
}

#page_nav a {
	margin-right: 20px;
	margin-left: 20px;
	font-size: 20px;
	color: #6f6f6f;
	text-shadow: #fffeff 1px 1px 0;
}

div.box.msnry_col1 {
	width: 110px;
}


#logo {
    background: url('/img/stripes.png') 0 0 repeat-y;
    float: left;
    cursor: pointer;
}
#logo h1 {
    font: 50px 'Helvetica','Arial',sans-serif;
    letter-spacing: -3px;
    color: #323232;
    font-weight: bold;
    margin-left: 60px;
}
#logo h2 {
    font: 13px 'Helvetica','Arial',sans-serif;
    letter-spacing: -1px;
    font-weight: 100;
    color: #5f5f5f;
    margin-left: 60px;
}

#logo.big {
    height: 438px;
    float: right;
    width: 50%;
    margin-right: 20px;
        cursor: default;
}
#logo.big h1 {
    padding-top: 350px;
}
#nav {
    height: 60px;
    line-height: 60px;
	display: block;
	margin-left: 97px;
	margin-right: auto;
	width: 500px;
	margin-bottom: 36px;
}

#nav a {
	color: #000;
	font-weight: bold;
	font-size: 20px;
	text-shadow: #fffeff 1px 1px 0;
	cursor: pointer;
	float: left;
	padding-top: 22px;
}

#nav p.sig {
	float: right;
	display: inline;
	color: #000;
	font-weight: bold;
	font-size: 20px;
	text-shadow: #fffeff 1px 1px 0;	cursor: pointer;
}
#nav li {
    display: inline;
}
#nav li a {
        color: #373737;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 100;
}
#nav li a:hover,
#nav li a:focus {
    text-decoration: underline;
}
#nav li.recent::after,
#nav li.home::after {
    content: ' //';
    color: #adc99f;
    padding: 0 4px;
}
#nav li.about::after {
    content: ' //';
    color: #b26282;
    padding: 0 4px;
}
#nav li.voices::after {
    content: ' //';
    color: #6cacbb;
    padding: 0 4px;
}
#nav.big {
    float: right;
    padding-top: 410px;
    height: auto;
    line-height: 100%;
    margin-right: 20px;
}
#nav.big .home {
    display: none;
}
footer {
    color: #959595;
    text-align: center;
        font-size: 11px;
	margin-left: 332px;
	margin-bottom: 24px;
	text-shadow: #fffeff 1px 1px 0;
	display: inline-block;
}
footer a {
    color: #6cacbb;
    text-decoration: none;
}
footer a:hover,
footer a:focus { text-decoration: underline; }

.amp {
    font-family: 'Palatino Linotype', Palatino, Georgia, 'Times New Roman', serif;
    font-style: italic;
}

.dslash { padding: 0 4px; }
.red { color: #b26282; }

.uploadify {
		border: 1px solid #fff;
	padding: 10px;
}
#uploadqueue {
    margin: 20px auto 20px 226px;
    width: 370px;
	display: block;
	float: left;
}

#cachy h1 {
	margin-left: auto;
	width: 660px;
	margin-right: auto;
	margin-top: 10px;
	color: #6e6753;
	text-transform: uppercase;
	text-shadow: #fffeff 1px 1px 0;
}

.loader {
    text-align: center;
    height: 380px;
    line-height: 380px;
    background: url('/img/loader.gif') 50% 40% no-repeat;
}
.theImage {
    border: 3px solid #ffffff;
    box-shadow: #666666 0 0 10px;
    -moz-box-shadow: #666666 0 0 10px;
    
    -webkit-box-shadow: #666666 0 0 10px;
    display: block;
    margin: 44px auto 20px;
    max-width: 870px;
	}
.controls {
    width: 400px;
    margin: 0 auto;
    padding: 10px 0 20px;
	height: 480px;

	z-index: 9999999999999;
	top: 3px;
}
.controls ul li { clear: both; height: 30px; line-height: 30px;}
.controls ul li span {
    float: left;
    display: block;
    width: 180px;
    text-align: right;
    color: #666666;
    font-weight: 100;
    font-size: 14px;
    margin-right: 20px;
}
.controls ul li a.switch {
    margin-top: 7px;
    display: block;
    float: left;
    background-image: url('/img/switch.png');
    background-repeat: no-repeat;
    height: 17px;
    width: 41px;
    font-size: 0;
    text-indent: -9999px;
    background-position: 0 0;
}
.controls ul li a.switch.on {
    background-position: 0 -17px;
}
.controls ul li .slider {
    float: left;
    width: 195px;
    margin-top: 9px;
}

.vintage-loader {
    position: absolute;
    height: 60px;
    width: 180px;
    margin-left: -90px;
    margin-top: -30px;
    background-color: #ffffff;
    background-image: url('/img/clock.png');
    background-position: 5px 50%;
    background-repeat: no-repeat;
    text-align: left;
    text-indent: 60px;
    font: 20px/60px 'Georgia','Times New Roman','Times',serif;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 3px solid #333;
}
.vintage-loader.error {
    color: #900;
    font-size: 12px;
    line-height: 16px;
    text-indent: 0;
    background-image: none;
    padding: 10px;
    height: auto;
    margin-left: -100px;
}
.btn {
    border: 1px solid #637858;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#a7c39a), color-stop(1,#879d7c));
    background: -moz-linear-gradient(top, #a7c39a, #879d7c);

}
.fleft { float: left; }
.fright { float: right; }

.btn.disabled {
    color: #f3f3f3;
    cursor: default;
    border-color: #c0c0c0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#f3f3f3), color-stop(1,#c0c0c0));
    background: -moz-linear-gradient(top, #f3f3f3, #c0c0c0);
}
#content {
	background: #fff;
	padding: 7px;
	box-shadow: rgba(0,0,0,0.4) 0 0 3px;
	-moz-box-shadow: rgba(0,0,0,0.4) 0 0 3px;
	-webkit-box-shadow: rgba(0,0,0,0.4) 0 0 3px;
}
#content.big {
	background: transparent;
	padding: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
#content {
    position: absolute;
    top: 50px;
    left: 0;
    display: block;
    width: 440px;
    height: 340px;
    overflow: hidden;
}
#content h1 {
    font: 20px 'Helvetica','Arial',sans-serif;
    letter-spacing: -1px;
    color: #323232;
    font-weight: bold;
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 1em;
}
#content h2 {
    font: 12px 'Helvetica','Arial',sans-serif;
    color: #686868;
    font-weight: 100;
    float: right;
    margin-top: -3em;
    
}
#content p {line-height: 16px;}
#tweets li {
    margin-bottom: 7px;
}
#tweets li span {
    font: 11px/14px 'Helvetica','Arial',sans-serif;
    color: #323232;
    float: left;
    margin-left: 5px;
    width: 390px;
    font-weight: 100;
}
#tweets li img {
    border: 2px solid #fff;
    height: 25px;
    width: 25px;
}
#tweets li a {
    color: #323232;
}
#tweets li a.user {
    text-decoration: none;
    font-weight: 300;
}

#about {
    font: 12px/16px 'Helvetica','Arial',sans-serif;
    color: #323232;
}
#content h3 {
    font: 12px/16px 'Helvetica','Arial',sans-serif;
    color: #b26282;
    margin: 0.4em 0 0.2em;
    font-weight: bold;
}
#content p {margin-bottom:0.5em;}
.vintageDemo {cursor: pointer;}
#content.wide {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: rgba(0,0,0,0.3) 0 0 5px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 0 5px;
    -webkit-box-shadow: rgba(0,0,0,0.3) 0 0 5px;
}
#contact {
  font: 12px/16px 'Helvetica','Arial',sans-serif;
  color: #323232;
	padding: 10px 20px;
}
#contact h2 {
    font: 15px/16px 'Helvetica','Arial',sans-serif;
    color: #323232;
    font-weight: bold;
    margin: 1em 0 0.3em;
}
#contact h3 {
    font: 13px/16px 'Helvetica','Arial',sans-serif;
    color: #323232;
    margin: 1em 0 0.3em;
}
.twitter-share-button{
	top: 19px;
	position: relative;
}
#imagepol {
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	
}

#social a h2 {
	float: left;
	font: 20px 'Helvetica','Arial',sans-serif;
    letter-spacing: -1px;
    color: #323232;
    font-weight: bold;
    margin-bottom: 1em;
	text-shadow: #fffeff 1px 1px 0;
	margin-right: 10px;
}
#facebook{
	display: block;
	margin-top: 34px;
}
#fb-root2{
	margin-bottom: 5px;
}
#fb-root{
	margin-top: 40px;
}

#social a img.reddit {
	margin-left: 25px;
	top: 19px;
	position: relative;
}
#stumble{
	margin-left: -14px;
}

#social a.tumblr {
	position: relative;
	top: 11px;
	margin-right: 44px;
}

#stumble {
	top: 19px;
	position: relative;
}
a{
	text-decoration: none;
}

#menu ul li a {
	color: #737373;
	text-shadow: #fffeff 1px 1px 0;
}

#menu ul li a.gal span {
	
}

#menu {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 15px;
}

#social {
	display: block;
	width: 750px;
	float: left;
	margin: 60px auto 18px 100px;
}

#label {
}

#descrp {
	display: block;
	float: left;
	position: relative;
	top: 119px;
	left: -260px;
	font-size: 11px;
	color: #999;
	text-shadow: #fffeff 1px 1px 0;
}
.twitter-share-button{
	float: left;
	padding-right: 20px;
	margin-left: 20px;
}
#imagepol img {
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background: #fff;
border: 1px solid #eee;
-moz-box-shadow: 0px 2px 15px #333;
	
	padding: 15px 15px 70px;
	border-radius:5px;
}
#menu ul :first-child{
	list-style-type:none;
}
#menu ul li {
	margin-right: 20px;
	list-style-type: disc;
	color: #cecece;
	float: left;
}

#menu ul {
	margin-left: auto;
	margin-right: auto;
	width: 396px;
}

#menu ul li span {
	color: #ff2919;
	position: relative;
	top: -9px;
	right: 2px;
	font-size: 9px;
	font-variant: small-caps;
}

#imagepol a {
	display: block;
	margin-left: auto;
}



img.pics-home {
	margin-right: 20px;
	border: 1px solid #e8e6de;
	background-color: #fff;
	padding: 4px 5px 19px;
	z-index: -13;
}

#secondary div.box.msnry_col1 a img.pics-home:hover {
	 -webkit-transition: -webkit-transform .3s ease-in-out;

    transition: transform .3s ease-in-out;
  
    -webkit-transform:scale(1.5);
	z-index: 1000009;
	position: relative;
}

#secondary div.box.msnry_col1 a img.pics-home {
	z-index: -9999999;
}

#galery li {
	margin-right: 8px;
	
}
#galery li:hover{
	   -webkit-transition: -webkit-transform .3s ease-in-out;

    transition: transform .5s ease-in-out;
  
    -webkit-transform:scale(1.2);
}

li.image-1 {
	-webkit-transform: rotate(-9deg);
-moz-transform: rotate(-9deg);
transform: rotate(-9deg);

}

li.image-2 {
	-webkit-transform: rotate(9deg);
-moz-transform: rotate(9deg);
transform: rotate(9deg);

}


#imagepol:hover {
	   -webkit-transition: -webkit-transform .3s ease-in-out;

    transition: transform .3s ease-in-out;
  
    -webkit-transform:scale(1.05);
    

}

#imagepol a h2 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: -49px;
	font-size: 30px;
	color: #000;
	font-family: 'Swanky and Moo Moo', arial, serif;
}

li.image-4 {
	-webkit-transform: rotate(9deg);
-moz-transform: rotate(9deg);
transform: rotate(9deg);

}

li.image-5{
	-webkit-transform: rotate(-9deg);
-moz-transform: rotate(-9deg);
transform: rotate(-9deg);

}




#galery {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 700px;
}

#fotos {
	display: block;
	width: 770px;
	margin: 20px auto 40px 50px;
	clear: both;
	height: 120px;
}

#fotoss {
	float: left;
	margin-left: 52px;
}

#masonry {
	display: inline-block;
	height: 100%;
}

div.imagengal.box {
	margin: 5px;
padding: 5px;
font-size: 11px;
float: left;
}


#nav a.sig {
	float: right;
	padding: 5px 20px;
	display: block;
}

#galery li {
	float: left;
}

#deleteme{
	color: #6e6753;
	text-shadow: #ffffff 1px 1px 0;
	float: right;
}
#ad h1.gallery{
	text-align: center;
	font-size: 21px;
	display: block;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}#ad h1.gallery a:hover{
	color: #6294a5;
}
#myimg{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}


#ad h1.gallery a{
	color: #7fbcd0;
	text-align: center;
}