{% extends 'base.html' %}

{% block section %}
	<!-- Content --> 

    <div id="content"> 
    <div class="set-size"> 

    	<!-- About our company --> 

    	<div class="grid-12"> 

    		<!-- Title --> 

    		<h3 class="standard-size-35 cufon-standard padding-title-standard">About Instant Retro</h3> 
    		<h4 class="arial-bold-14-red padding-desc-title">Give your photos vintage effects</h4> 

    		<div class="grid-12 padding-top-18"> 

    			<!-- IMG --> 

    			<div class="grid-8 float-left"> 

    				<div class="padding-text-standard"> 

    					<div class="rame-img"><img src="http://www.instantretro.com/featured/ag9zfmluc3RhbnRyZXRyb21yDAsSBEZvdG8Y8rgXDA" width="620px" height="318px" alt="" /></div> 

    				</div> 

    			</div> 

    			<!-- Adres --> 

    			<div class="grid-4 float-left"> 

    				<div class="padding-text-standard"> 

    					<span class="arial-bold-14-red">Location:</span><br /> 
    					<span class="arial-bold-12-blue">
    					Querétaro<br /> 
    					México<br /><br /> 
    					<h4 class="arial-bold-14-blue">About the project</h4> 
    					Instant Retro is a Mexican online project looking for the best experiencie of sharing photos on the web.<br />
    					Instant Retro started as a simple app to edit photos online using the vintage.js jQuery query adding some simple extra features.<br /><br /> 
    					<h4 class="arial-bold-14-blue">Achivements</h4> 
    					<strong>* Over 120k Photos<br /> 
    					* Over 1900 blogs talking about the app.<br /> 
    					* Highlighted by Google, The Next Web and Televisa.</strong> 

    				</div> 

    			</div> 

    		</div> 

    		<!-- Text --> 

    		<p class="padding-text-about"> 

    		
    		</p> 

    		<p class="clear" style="height:26px"></p> 

    	</div> 

    


{% endblock%}
{% block fb %}

 {% endblock%}