{% extends 'base.html' %}
{% block gallery %}
<script>

</script>

		<div id="fotoss">
		
		
		    <h2>Gallery</h2>
            <div id="menugallery">
               
                <div id="search"></div>
            </div>
		<div id="secondary" class="wrap"> 
		             

		                 {% for f in fotos%}
		{% if f.shared %}
							<div  class="box msnry_col1">
								<a href='/view/{{f.key}}'><img  class='pics-home' width="204" height="auto" src='/thumb/{{f.key}}' /></a>
								<span id="hints">{{f.hint}}</span>
							</div>
							{% endif %}
						 {% endfor %}
 		</div> <!-- /#secondary.wrap -->
		
		<div id="page_nav">
			{% if primera %}
			<a id="next" href="/gallery/{{siguiente}}">Next »</a>
			{% else %}
			{% if ultima %}
			<a  id="back" href="/gallery/{{anterior}}">« Back</a>
			{% else %}
			<a id="back" href="/gallery/{{anterior}}">« Back</a><a  id="next" href="/gallery/{{siguiente}}">Next »</a>
			{% endif %}{% endif %}
		</div>

		</div>

{% endblock %}