
<!DOCTYPE HTML> 
<html lang="es-MX"> 
<head> 
    <meta charset="UTF-8"> 
    <title>InstantRetro - Create awesome vintage Images Online</title> 
    <link rel="stylesheet" href="/css/style.css" media="all" /> 
    <link rel="stylesheet" href="/css/ui-lightness/jquery-ui-1.8.11.custom.css" media="all" /> 
    <script src="/js/compressed-script.js"></script> 
    <script src="/js/vintage.js"></script>
    <script src="https://github.com/Modernizr/Modernizr/raw/master/modernizr.js"></script> 
    
    <script src="/js/script.js"></script> 

    <meta name="description" content=" Create awesome vintage Images Online! Try it out now." /> 
    <meta name="keywords" content="vintage, retro,images" /> 
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> 
    <link rel="icon" href="/favicon.ico" type="image/x-icon" /> 
    <meta name="robots" content="index,follow" /> 
    <meta http-equiv="content-language" content="es" /> 
 
    
    <script> 
    $(function () {
        $('#saveImage').live('click', function (e) {
            e.preventDefault();
            var obj = $(this);
            if (obj.is('.disabled')) {
                return false;
            }
            saveImage('8ca551193510f04d0ae00602dd8b5cdd',$(this));
        });
});
	</script> 
	<!-- Start of Woopra Code -->
	<script type="text/javascript">
	var woo_settings = {idle_timeout:'300000', domain:'instantretro.com'};
	(function(){
	var wsc = document.createElement('script');
	wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js';
	wsc.type = 'text/javascript';
	wsc.async = true;
	var ssc = document.getElementsByTagName('script')[0];
	ssc.parentNode.insertBefore(wsc, ssc);
	})();
	</script>
	<!-- End of Woopra Code -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head> 
<body> 
    <div id="wrap"> 
	
        <header class="clearfix"> 
            <div id="annoucement">Privacy setting is ready.</div>
               		<img style="margin: 0; padding: 0; margin-top: 10px; float:left;" src="images/color-stripes.jpg" alt="Color-stripes" />
					<a href="/" ><h1 style="margin: 0; padding: 0; text-transform: uppercase; font-family: Verdana; letter-spacing: 2px; color: #6e6753; float:left; padding: 0px 6px; font-size: 24px;">Instant Retro</h1></a>
					<img style="margin: 0; padding: 0; margin-top: 10px; float:left;" src="images/color-stripes.jpg" alt="Color-stripes" />
        </header> 
        <section id="cachy" > 
           <h1>"This is a very simple web app that let you edit your photos and give them vintage effects."</h1>
        </section> 
		<div id="menu">
			<ul><li><a class="gal" href="http://apps.facebook.com/instantretro/">Facebook App</a><span>new</span></li>
				<li><a class="chrome" href="https://chrome.google.com/webstore/detail/jlahmeejnbkdnjnckboeglpfmjbfmopp">Chrome App</a></li>
				<li><a  class="gal" href="/gallery/">Gallery <span>new</span></a></li>
				<li><a  class="about" href="#">About</a></li>
			</ul>
			
		</div>
        <section> 
		
            <form name="uploadForm" id="uploadForm"  action="/upload/" enctype="multipart/form-data" post="/upload/" medthod="post" id="leadimg" enctype="multipart/form-data"> 
	<h2>Click the blue square to upload your Photo</h2>
	<span id="descrp">less than 10 mb</span>
	
                <div class="uploadify"> 
                    <label for="file_upload">Your image:</label> 
                    <input type="file" name="file_upload" id="file_upload" /> 
                    <input type="submit" value="Upload now" /> 
                </div> 
            </form> 

            <div id="uploadqueue"></div> 
			
        </section> 
		<div id="fotos">
		<ul id="galery">
		{% for f in fotos%}
			{% if f.shared %}
			<li class='image-{{forloop.counter}}'><a href='/view/{{f.key}}'><img  class='pics-home' src='/thumb/{{f.key}}' /></a></li>
			{% endif %}
		{% endfor %}
		</ul>
		</div>
        <footer> 
           Instant Retro - 2011 using <a href="http://vintagejs.com/">vintage.js</a>
        </footer> 
    </div> 
	<script type="text/javascript" charset="utf-8">
	  var is_ssl = ("https:" == document.location.protocol);
	  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
	  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
	</script>

	<script type="text/javascript" charset="utf-8">
	  var feedback_widget_options = {};

	  feedback_widget_options.display = "overlay";  
	  feedback_widget_options.company = "instant_retro";
	  feedback_widget_options.placement = "left";
	  feedback_widget_options.color = "#222";
	  feedback_widget_options.style = "idea";


	  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
	</script>
	<script src="https://github.com/pa7/nude.js/raw/master/compressed/nude.min.js"></script> 
</body> 
</html>