{% extends 'base.html' %}
{% block facebook %}
<meta property="og:image" content="http://www.instantretro.com/upload/{{key}}"/>

{% endblock%}
{% block section %}
<div id="contenedor-imagenes">
{% if mobile %}
    
    <script type="text/javascript">
    Caman("#fotocool", function () {
        this['glowingSun']().render();
    });
    </script>

{% endif %}
    
    
<div id="imagecentro">
				<div id="imagepol" rel='{{key}}'>
				    <a href="http://www.instantretro.com/" class="addmine">Create your Own</a>
                    <img src="/big/{{key}}" id="fotocool" />
                    <h2 id="titulofoto">{{title}}</h2>
        		</div>
        		<div id="sidebarfoto">
        		    <div id="ad" rel="http://www.octoacto.org/htm/talleres/enmedio.html">
        		          
        		          <div class="carbonad" ><div id="azcarbon"><span class="carbonad-image"><a href="#" title="" ><img class="carbonad-image carbonad-img" src="http://dl.dropbox.com/u/71613/13111231742017698883_1_fa73c8a1.jpeg" title="" alt="" border="0" height="90" width="120"></a></span><span class="carbonad-text"><a href="#">Se Fotografo Documental - </a> 4 Meses de taller en linea de Fotografia Documental. Hoy pre-inscripcion 50% de Descuento.</span></div></div>
        		          
        		    </div>
                    <div id="stats">{{hint}}</div>
                    <a id="download" href="/upload/{{key}}">Download</a>
                    <div id="punchtab_widget"></div>
        		    <br/>
                    <div id="sideicons">
                        <div id="likeside">
                        <fb:like href="http://www.instantretro.com/view/{{key}}" send="false" width="100" show_faces="false" font=""></fb:like></div>
                        <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="instantretro" data-url="{{url}}" data-lang="es">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                        <a class="tumblr" href="http://www.tumblr.com/share/photo?source={{image}}&caption=Via http%3A//instantretro.com&clickthru=http%3A//www.instantretro.com/view/{{key}}" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:81px; height:20px; background:url('http://platform.tumblr.com/v1/share_1T.png') top left no-repeat transparent;">Share on Tumblr</a>
                        <br/>
                       
            			<g:plusone size="small"></g:plusone><script src="http://www.stumbleupon.com/hostedbadge.php?s=1"></script>
            			
                        
                        
                    </div>
                    
                        <div id="short">
                            <label>Short link :<input value={{url}}></label>
                        </div>
                        {% if mobile %}
                        <div id="mobile">
                            <p>Uploaded using the Mobile App</p>
                        </div>
            		    {% endif %}
        		</div>
        		
        		</div>
        		</div>
        		
        		
        		
    			
        		<div id="social">
        		    <div id="innerraya">
        		        <div id="marco">
        		            <div id="contentshare">
        		                <h2>Comments</h2>
        		                
        			<div id="facebook">


        			<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:comments href="http://www.instantretro.com/view/{{key}}" num_posts="3" width="700"></fb:comments>
        			</div>
        			
        			
            		
        			</div>
            		
        			</div>
            		
        		</div>
        		</div>
        		<!-- Place this tag after the last plusone tag -->
                <script type="text/javascript">
                  (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                  })();
                </script>
{% endblock%}