
<!DOCTYPE HTML> 
<html lang="es-MX"> 
<head> 
    <meta charset="UTF-8"> 
    <title>InstantRetro - Create awesome vintage Images Online</title> 
    <link rel="stylesheet" href="/css/style2.css" media="all" /> 
    <link rel="stylesheet" href="/css/ui-lightness/jquery-ui-1.8.11.custom.css" media="all" /> 
    <script src="/js/compressed-script.js"></script> 
    <script src="/js/vintage.js"></script> 
    <script src="/js/script.js"></script> 
 
    <meta name="description" content=" Create awesome vintage Images Online! Try it out now." /> 
    <meta name="keywords" content="vintage, retro,images" /> 
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> 
    <link rel="icon" href="/favicon.ico" type="image/x-icon" /> 
    <meta name="robots" content="index,follow" /> 
    <meta http-equiv="content-language" content="en" /> 
	<meta property="og:title" content="My vintage photo" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.instantretro.com/view/{{key}}" />
	<meta property="og:image" content="http://www.instantretro.com/upload/{{key}}" />
	<meta property="og:site_name" content="Instant Retro" />
	<meta property="fb:admins" content="843485723" />
	<script type="text/javascript" src="http://platform.tumblr.com/v1/share.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo' rel='stylesheet' type='text/css'>
	<!-- Start of Woopra Code -->
	<script type="text/javascript">
	var woo_settings = {idle_timeout:'300000', domain:'instantretro.com'};
	(function(){
	var wsc = document.createElement('script');
	wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js';
	wsc.type = 'text/javascript';
	wsc.async = true;
	var ssc = document.getElementsByTagName('script')[0];
	ssc.parentNode.insertBefore(wsc, ssc);
	})();
	</script>
	<!-- End of Woopra Code -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head> 
<body> 
    <div id="wrap"> 
        <header class="clearfix"> 
            <div id="annoucement"></div>
            
               		<img style="margin: 0; padding: 0; margin-top: 10px; float:left;" src="/images/color-stripes.jpg" alt="Color-stripes" />
					<a href="http://apps.facebook.com/instantretro/"><h1 style="margin: 0; padding: 0; text-transform: uppercase; font-family: Verdana; letter-spacing: 2px; color: #6e6753; float:left; padding: 0px 6px; font-size: 24px;">Instant Retro</h1></a>
					<img style="margin: 0; padding: 0; margin-top: 10px; float:left;" src="/images/color-stripes.jpg" alt="Color-stripes" />
        </header> 
        <section id="cachy" > 
           <h1>"This is a very simple web app that let you edit your photos and give them vintage effects."</h1>
        </section> 

			<div id="menu">
				<ul><li><a class="chrome" href="http://apps.facebook.com/instantretro/">Home</a></li>
					<li><a class="chrome" href="https://chrome.google.com/webstore/detail/jlahmeejnbkdnjnckboeglpfmjbfmopp">Chrome App</a></li>
					<li><a  class="about" href="#">About</a></li>
				</ul>
			</div>
			
        <section> 
		<div id="imagepol">
            <a href="#"><img src="/big/{{key}}" /><h2>{{title}}</h2></a>
			
		</div>
		<div id="social">
			<a href="http://apps.facebook.com/instantretro/" class="addmine"><h2>Create you Own</h2></a>
			<div id="facebooks">
			<iframe src="http://www.facebook.com/plugins/like.php?app_id=192870917425715&amp;href=http%3A%2F%2Fwww.instantretro.com/view/{{key}}&amp;send=true&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
			
		</div>
		</div>
        </section> 
			<div id="fotos">
			<ul id="galery">
			{% for f in fotos%}
				<li class='image-{{forloop.counter}}'><a href='http://apps.facebook.com/instantretro/?view={{f.key}}'><img  class='pics-home' src='/thumb/{{f.key}}' /></a></li>
			{% endfor %}
			</ul>
			</div>
        <footer> 
        Instant Retro - 2011
        </footer> 
    </div> 

</body> 
</html>